.Menu-select-box {
  width: 260px;
  height: 100%;
  background-color: white;
  font-family: Arial, sans-serif;
}

.Menu-select-box ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.Menu-select-box li {
  padding: 5px 10px;
  font-size: 12px;
  cursor: pointer;
}

.Menu-select-box .menu-header {
  font-weight: 500;
  color: white;
  background-color: black;
  font-size: 13px;
}

.Menu-select-box .menu-item {
  color: black;
  background-color: #f9f9f9;
  border-bottom: 1px solid #eee1c0;
}

.Menu-select-box .menu-item:hover {
  background-color: #eee1c06e;
}
