.slider-container {
  margin: 0 auto;
  width: 100%;
  position: relative;
}

.slide {
  position: relative;
  text-align: center;
}

.slide-image {
  width: 100%;
}

.slick-dots {
  position: absolute;
  bottom: 10px;
  left: 50%;
  transform: translateX(-50%);
  z-index: 10;
}

.slick-dots li button:before {
  font-size: 12px;
  color: #fff;
}

.slick-dots li.slick-active button:before {
  color: #f8f8f8;
}

.slick-prev,
.slick-next {
  z-index: 10;
}
@media only screen and (max-width: 800px) {
  .slider-container{
    margin-top: 53px;
  }
 }